<div class="list row" >
  <div class="col-md-12 row">
    <div class="col-md-10">
      <h2>Tasks List</h2>
    </div>
  </div>

  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div>
        <button class="btn btn-sm btn-danger" (click)="removeAllTasks()">
          Remove All
        </button>
      </div>
      <div>
        <button class="mar-l-5 btn btn-sm btn-success" (click)="addTask()">
          Add Task
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!currentTask" class="col-md-12">
    <br />
    <p>Please click on a Task...</p>
  </div>
  <div  class="col-md-12">

  <div class="col-md-12">
    <ul class="list-group">
      <div
        class="search-results"
        infiniteScroll
        debounce
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="800" 
        (scrolled)="onScroll()" 
      >
      <div  class="list-group-item"
      *ngFor="let task of tasks; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTask(task, i)">  
        <p class="flt-lft">
          {{ task.title }}
        </p>
        <p class="flt-rgt">
          {{ task.assigned ? "Assigned" : "Not assign" }}
        </p>
        <br>
        <div *ngIf="currentTask && currentIndex == i" >
          <div>
            <label><strong>Title:</strong></label> {{ currentTask.title }}
          </div>
          <div>
            <label><strong>Description:</strong></label>
            {{ currentTask.description }}
          </div>
          <div>
            <label><strong>Status:</strong></label>
            {{ currentTask.assigned ? "Assigned" : "Not assign" }}
          </div>
    
          <a class="badge badge-warning" routerLink="/task/{{ currentTask.id }}">
            Edit
          </a>
        </div> 
      </div>  
      </div>
    </ul>
  </div> 
  </div>
</div>
